/Cours0/ConsoleApplication1/Debug
/Cours0/ConsoleApplication1/ConsoleApplication1/Debug
/Cours0/ConsoleApplication1/.vs
/Cours0/ConsoleApplication1/x64
/Cours0/ConsoleApplication1/ConsoleApplication1/x64
/Cours1/ConsoleApplication2/Debug
/Cours1/ConsoleApplication2/.vs
/Cours2/.vs
/Cours2/Debug
/Cours3/.vs
/Cours3/Debug
/Cours4_SFML/.vs
/Cours4_SFML/Debug
/Cours4_SFML/Cours4_SFML/Debug
/Cours5_Exo/.vs
/Cours5_Exo/Debug
