/Cours0/ConsoleApplication1/Debug
/Cours0/ConsoleApplication1/ConsoleApplication1/Debug
/Cours0/ConsoleApplication1/.vs
/Cours0/ConsoleApplication1/x64
/Cours0/ConsoleApplication1/ConsoleApplication1/x64
